<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841529051738-d2gs9ca3304j1rcl8ugduj73sshdpf4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841529051738-d2gs9ca3304j1rcl8ugduj73sshdpf4p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>841529051738-i21bh4qri0u5ne26qnkmo4m6sbcvvvas.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUjRj-G3o_ebrf5000NP4732J_TYZLPIs</string>
	<key>GCM_SENDER_ID</key>
	<string>841529051738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.WhatsAppClone</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-64395</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-64395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841529051738:ios:58f5346a0c7eaecf91e663</string>
</dict>
</plist>